{% extends 'base.html' %}


{% block content %}
	
	<div class="row">

		{% if post %}
			{% for c in post %}
				
				    <div class="col-md-6">
				      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				        <div class="col p-4 d-flex flex-column position-static">
				          
				          <h3 class="mb-0">{{c.titulo}}</h3>
				          <div class="mb-1 text-muted">{{c.fecha_creacion}}</div>
				          <p class="card-text mb-auto">{{c.contenido}}</p>
				          <a href="{% url 'detalle' c.id %}" class="stretched-link">Ver</a>
				        </div>
				        
				      </div>
				    </div>
				    
				 
				
			{% endfor %}
		   
		{% else %}
			<div class="alert alert-danger" role="alert">
			  No hay noticias 
			</div>
			
		{% endif %}

	</div>
{% endblock %}

<!--